// magic mint 192, 244, 206
// oxford blue 0, 7, 45
// royal blue dark 0, 28, 85
// slate grey 115, 130, 144
// light steel blue 184, 205, 248

// <----------- Base Styles ---------->
@font-face {
    font-family: "FiraSans-Regular";
    src: url("fonts/FiraSans-Regular.ttf") format("truetype");
}

body {
    margin: 0;
    font-size: 75%;
    font-family: "FiraSans-Regular";
    background-color: rgb(0, 7, 45);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.titlebar-container {
    position: sticky;
    top: 0;

    background-color: black;
    opacity: 90%;
    display: flex;
    justify-content: space-between;

    .side-container {
        display: flex;

        margin: 0px 4px;

        a.titlebar-item {
            padding: 6px 12px;
        
            text-decoration: none;
            color: white;
            font-size: 1.7em;
        }
        
        a.titlebar-item:hover {
            background-color: grey;
        }
    }
}

fieldset {
    border: 0px;
}

.form-container {
    background-color: rgb(0, 28, 85);
    border-radius: 10px;

    .form-title {
        margin-bottom: 16px;
        margin-top: 4px;

        color: white;
        font-size: 2em;
        text-align: center;
    }

    .form-field-label {
        margin-bottom: 4px;

        color: white;
        font-size: 1.2em;
    }

    .form-field {
        margin-bottom: 16px;

        width: 99%;
        font-size: 1em;
    }

    .submit-btn {
        margin-top: 16px;
        margin-bottom: 16px;
        padding-top: 16px;
        padding-bottom: 16px;
        border: 0px;

        width: 100%;
        background-color: rgb(192, 244, 206);
        font-size: 1.2em;
        font-weight: bolder;
        color: black;

        display: block;
    }
}

// <---------- blog post preview template ---------->
.post {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr 1fr;

    background-color: rgb(0, 28, 85);
    border: 2px solid rgb(0, 28, 85);

    border-radius: 10px;

    .post-image {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: -2;
        justify-self: center;

        width: 100%;
        aspect-ratio: 16 / 9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .post-text-container {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: -2;
        grid-row-end: -1;

        margin: 16px;

        display: flex;
        flex-direction: column;

        .post-title {
            margin-bottom: 8px;

            font-size: 3em;
            font-weight: bolder;
            color: lightgrey;
        }

        .post-content {
            font-size: 1.4em;
            color: white;
        }

        .post-footer {
            align-self: flex-end;
            justify-self: flex-end;

            font-size: 1em;
            color: lightgrey
        }
    }
}


// <---------- BLOG PAGE STYLES ---------->

.blog-container {
    $inter-item-margin: 24px;

    margin-top: 24px;

    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: auto 32px auto auto;

    .top-text-container {
        grid-column-start: 2;
        grid-column-end: -2;
        grid-row-start: 1;
        grid-row-end: 2;

        #blog-title {
            margin-left: 16px;
            margin-bottom: 16px;

            color: white;
            font-size: 3em;
        }

        #blog-header-text {
            padding-left: 16px;
            padding-bottom: 32px;
            border-bottom: 1px solid rgb(115, 130, 144);

            color: white;
            font-size: 1.7em;
        }
    }

    .posts-container {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: -3;
        grid-row-end: -2;

        display: flex;
        flex-direction: column;

        .post {
            margin-bottom: $inter-item-margin;
        }
    }

    .create-new-post-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: center;

        margin: 32px;
        padding: 16px;

        background-color: white;
        font-size: 1.5em;
        text-align: center;

        display: block;

        .create-new-post-text {
            color: black;
            size: 2em;
        }
    }

    .pagination {
        grid-column-start: 2;
        grid-column-end: -2;
        grid-row-start: -2;
        grid-row-end: -1;

        margin: 64px 64px 32px;

        color: white;
        font-size: 2em;
        text-align: center;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        #first {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        #previous {
            grid-column-start: 2;
            grid-column-end: 3;
        }

        #page-count {
            grid-column-start: 3;
            grid-column-end: -3;
        }

        #next {
            grid-column-start: -3;
            grid-column-end: -2;
        }

        #last {
            grid-column-start: -2;
            grid-column-end: -1;
        }
    }
}


// <---------- HOME PAGE STYLES ---------->

.color-header {
    background-image: url("images/congruent_pentagon.png");
    
    height: 66%;

    display: flex;
    justify-content: center;
}

.color-header-content-container {
    margin-top: 150px;
    margin-bottom: 64px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;

    $header-text-spacing: 12px;

    .profile-image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;

        margin-right: 32px;
        border: 1px solid black;

        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .main-text {
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: center;

        margin-left: $header-text-spacing;

        font-size: 3em;
        font-weight: bolder;
        white-space: break-spaces;
    }

    .secondary-text {
        grid-column-start: 2;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2;
        align-self: end;

        margin-left: $header-text-spacing;
        margin-bottom: 36px;

        font-size: 1.5em;
    }

    .subheader-label {
        align-self: start;

        margin-top: 48px;

        font-size: 0.9em;
    }

    .subheader {
        align-self: end;

        margin-bottom: 12px;

        font-size: 1.3em;
        color: black;
    }

    #subheader-1-label {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: -2;
        grid-row-end: -1;
    }

    #subheader-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: -2;
        grid-row-end: -1;
    }

    #phone-subheader-label {
        grid-column-start: 2;
        grid-column-end: -2;
        grid-row-start: -2;
        grid-row-end: -1;
        justify-self: end;
    }

    #phone-subheader {
        grid-column-start: 2;
        grid-column-end: -2;
        grid-row-start: -2;
        grid-row-end: -1;
        justify-self: end;
    }

    #email-subheader-label {
        grid-column-start: -2;
        grid-column-end: -1;
        grid-row-start: -2;
        grid-row-end: -1;
        justify-self: end;
    }

    #email-subheader {
        grid-column-start: -2;
        grid-column-end: -1;
        grid-row-start: -2;
        grid-row-end: -1;
        justify-self: end;
    }
}

.about-me-container {
    background-color: rgb(0, 7, 45);
    display: flex;
    justify-content: center;

    .about-me-text {
        margin: 32px 15%;

        font-size: 1.9em;
        color: white;
        text-align: center;
    }
}

.blog-preview {
    margin: 32px 15% 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .post {
        margin-bottom: 16px;
    }
}

#view-more {
    padding: 16px;
    
    background-color: rgb(192, 244, 206);
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    color: black;

    display: block;
}


// <---------- Contact Page ---------->

.contact-page-container {
    margin: 32px 64px;

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;

    .contact-info-container {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: -1;

        margin-right: 32px;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        border-radius: 10px;

        .contact-info-item {
            margin-right: 64px;

            border-bottom: 1px solid rgb(115, 130, 144);
            color: white;

            .contact-info-title {
                margin-top: 8px;
                margin-bottom: 8px;

                font-size: 2em;
                color: lightgrey;
            }

            .contact-info {
                margin-bottom: 2px;

                font-size: 1.5em;
                color: white;
            }
        }
    }

    .form-container {
        grid-column-start: -2;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: -1;
    }
}

#contact-me {
    margin-bottom: 8px;

    font-size: 3em;
    font-weight: bold;
}


// <---------- Create New Post ---------->

.form-container {
    padding: 32px;
}
