{% extends "base.html" %}
{% load static %}
{% block morehead %}
    <link rel="stylesheet" href="{% static "blog/CSS/style.css" %}">
{% endblock morehead %}

{% block content %}
    <div class="color-header">
        <div class="color-header-content-container">
            <img class="profile-image" src="{{ thomas_info.profile.image.url }}">
            <p class="main-text">Thomas Porter
Lorem ipsum dolor
            </p>
            <p class="secondary-text">Student at Memorial University</p>

            <p id="subheader-1-label" class="subheader-label">LinkedIn:</p>
            <a id="subheader-1" class="subheader" href="https://www.linkedin.com/in/thomas-porter-219524231" target="_blank">linkedin.com/in/thomas-porter-219524231</a>

            <p id="phone-subheader-label" class="subheader-label">Call me at:</p>
            <p id="phone-subheader" class="subheader">+1 (709) 689 7000</p>

            <p id="email-subheader-label" class="subheader-label">Email me at:</p>
            <p id="email-subheader" class="subheader">tgporter@mun.ca</p>
        </div>
    </div>
    <div class="about-me-container">
        <p class="about-me-text">I'm currently an Engineering student at Memorial University of Newfoundland and will be
            entering my second semester in January 2023. I expect to graduate in 2027, and plan to pursue a degree in 
            Computer Engineering. I'm currently searching for a work term for the Spring of 2023, so please feel free to
            reach out if you find any of my projects below interesting! I have experience using Python, Linux, C++, and 
            HTML with CSS.
        </p>
    </div>
    <div class="blog-preview">
        {% for post in blog_posts %}
            <div class="post">
                <img src="{{ post.image.url }}" class="post-image">
                <div class="post-text-container">
                    <p class="post-title">{{ post.title }}</p>
                    {% if post.content|length > 425 %}
                        <p class="post-content">{{ post.content|slice:":425" }}...</p>
                    {% else %}
                        <p class="post-content">{{ post.content }}</p>
                    {% endif %}
                    <p class="post-footer"> Created by <a>{{ post.author }}</a> on {{ post.date_posted|date:"F j, Y" }}</p>
                </div>
            </div>
        {% endfor %}
        <a id="view-more" href="/blog">View More Posts</a>
    </div>
{% endblock %}