{% extends "blog/base.html" %}
{% load static %}
{% block morehead %}
    <link rel="stylesheet" href="{% static "users/CSS/style.css" %}">
{% endblock morehead %}
{% block content %}
    {% load widget_tweaks %}
    <div class="login-container">
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    <p class="form-title">Login</p>
                    {% for field in form %}
                        <p class="form-field-label">{{ field.label }}:</p>
                        {{ field|add_class:"form-field" }}
                    {% endfor %}
                    {% if form.errors %}
                        <div class="error-container">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <button class="submit-btn">Login</btn>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}