<!DOCTYPE html>
<head>
    <title>Blog</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% block morehead %}{% endblock morehead %}
</head>
<body>
    <div class="titlebar-container">
        <div class="side-container">
            <a class="titlebar-item" href="/">Home</a>
            <a class="titlebar-item" href="/blog">Blog</a>
            <a class="titlebar-item" href="/contact">Contact</a>
        </div>
        <div class="side-container">
            {% if user.is_authenticated %}
                <a class="titlebar-item" href="/profile">Profile</a>
                <a class="titlebar-item" href="/logout">Log Out</a>
            {% else %}
                <a class="titlebar-item" href="/login">Log In</a>
            {% endif %}
        </div>
    </div>
    {% block content %}{% endblock content %}
</body>